*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;

}


nav {
height: 80px;
background: rgb(163, 158, 114);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem calc ((100vw - 1300px) / 2);

}


.logo {
color: black
font-size: 1.5rem;
font-weight: bold;
font-style: italic;
padding: 0 2rem;

}

.column-left {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
color: black;
padding: 0rem 2rem;

}

nav a{
text-decoration: none;
color: rgba(8, 8, 8, 0.904);
padding: 0 1.5rem;

}





.hero {
background: rgb(8, 8, 8, 0.904);

}

.hero-container{
display: grid;
grid-template-columns: 1fr 1fr;
height: 100vh;
padding: 0;
color: azure;

}


.h1 {
display: grid;
grid-template-columns: auto;
height: fit-content;
padding: 0;
color: azure;



}


.h2 {
display: grid;
grid-template-columns: auto;
height: fit-content;
padding: 0;
color: azure;

}